*{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Lato;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bucket-wrapper{
  padding: 35px;
  border-radius: 8px;
  background: #f4f6ff;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
}

.bucket-title{
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.text-field {
  padding: 8px 10px;
  outline: 0;
  border: 1px solid #ccc;
  min-width: 80%;
  margin: 5px auto;
}


.btn{
  outline: 0;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 8px 14px;
  border-radius: 4px;
  margin: 0px 5px;
  background: #ccc;
  color: #333;
}

.btn-sm{
  padding: 5px 8px;
}

.btn-primary{
  background: #0053aa;
  color: #fff
}

.btn-secondary{
  background: #d41d24;
  color: #fff;
}

.add-todo-field{
  padding: 8px 10px;
  outline: 0;
  border: 1px solid #ccc;
  min-width: 220px;
}

.todo-list{
  padding: 30px 60px;
  margin: 35px auto;
  box-shadow: 5px 5px 8px 7px rgba(0,0,0,0.2);
}

.todo-list-item{
  list-style: none;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete-check{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.todo-label{
  width: 50%;
  display: inline-block;
}